.awesome-block {
    text-align: center;
    margin-top: 110px;
}

.awesome-block__list {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    gap: 20px;
}

.awesome-block__list-item {
    max-width: 370px;
    position: relative;
    padding-top: 180px;
}

.awesome-block__list-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 35%;
    width: 100px;
    height: 100px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}

.awesome-block__list-item:hover::before {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.awesome-block__list-item:first-child::before {
    background-image: url('../images/bulb.svg');
}

.awesome-block__list-item:nth-child(2)::before {
    background-image: url('../images/keyboard.svg');
}

.awesome-block__list-item:last-child::before {
    background-image: url('../images/raikiri.svg');
}

.awesome-block__list-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.awesome-block__list-paragraph {
    margin-top: 30px;
}

@media (max-width: 900px) {
    .awesome-block__list {
        flex-direction: column;
        align-items: center;
    }
    .awesome-block__list-item:before {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}