.contact-block {
    text-align: center;
    margin-top: 110px;
}

.contact-block__form {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.contact-block__form-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.contact-block__personal-data {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 53px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    flex-basis: 50%;
}

.contact-block__form-input {
    width: 100%;
    
}

.contact-block__form-input:focus {
    outline: none;
}

.contact-block__form-textarea {
    max-width: 570px;
    min-height: 226px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    flex-basis: 50%;

}

.contact-block__form-textarea:focus {
    outline: 1px solid #BDBDBD;
    border: none;
}

.contact-block__form-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #EC7979;
    cursor: pointer;
    max-width: 370px;
    min-width: 270px;
    padding: 20px;
    margin: 50px auto;
    border: none;
    color: #ffffff;
    text-transform: capitalize;
}
.contact-block__form-button:hover {
    background-color: #E71414;
    transition-duration: 0.5s;  
}
.contact-block__form-button:active {
    box-shadow: 4px 4px 30px #FF4343;
}

@media (max-width: 900px) {
    .contact-block__form-inner {
        flex-direction: column;
        
    }
    .contact-block__personal-data {
        min-width: 100%;
    }
    .contact-block__form-textarea {
        min-width: 100%;
    }
}