.contact-block {
    text-align: center;
    margin-top: 110px;
}

.contact-block__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.contact-block__personal-data {
    display: flex;
    flex-direction: column;
    min-width: 570px;
    border: none;
}

.contact-block__form-label {
    margin-top: 50px;
}

.contact-block__form-input {
    width: 100%;
}

.contact-block__form-input:focus {
    outline: none;
}

.contact-block__form-textarea {
    width: 570px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
}

.contact-block__form-textarea:focus {
    outline: 1px solid #BDBDBD;
    border: none;
}

.contact-block__form-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #EC7979;
    cursor: pointer;
    max-width: 370px;
    min-width: 270px;
    padding: 20px;
    margin: 50px auto;
    border: none;
    color: #ffffff;
    text-transform: capitalize;
}
.contact-block__form-button:hover {
    color: rgba(255, 255, 255, 0.8);
}