.customers-block {
    text-align: center;
    margin-top: 110px;
}

.customers-block__person-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.customers-block__person {
    max-width: 370px;
}

.customers-block__person-bubble {
    background-color: #E2E2E2;
    padding: 22px 36px;
    max-width: 370px;
    border-radius: 15px;
    position: relative;
}

.customers-block__person-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    bottom: -40px;
    left: 40px;
    padding-top: 20px;
}


.customers-block__bubble-text {
    color: #86878B;
}

.customers-block__person-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.customers-block__person-name {
    text-transform: capitalize;
    margin-top: 30px;
}

.customers-block__person-profession {
    margin-top: 30px;
}