.design-block {
    text-align: center;
    margin-top: 60px;
    padding-top: 110px;
    background-image: url('../images/design-bg.jpg');
    background-color: #3d3d3d;
    color: #ffffff;
    padding-bottom: 50px;
}

.design-block__description {
    color: #ffffff;
}

.design-block__download-btn {
    margin-top: 70px;
    padding: 20px 140px;
    background: none;
    border: 1px solid #ffffff; 
    margin-bottom: 50px;
}