.footer-block {
    text-align: center;
    background-color: #000000;
    
}

.footer-block__logo-list {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
}

.footer-block__copyright-text {
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}