.header-block {
    background-color: black;
    color: #ffffff;
}

.header-block__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-block__nav-list {
    display: flex;
}

.header-block__nav-item {
    min-width: 100px;   
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.header-block__nav-link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 20px;
}

.header-block__nav-link:hover {
    background-color: #EC7979;
    transition: 0.5s;
}