.header-block {
    background-color: black;
    color: #ffffff;
}

.header-block__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block__nav-list {
    display: flex;
}

.header-block__nav-item {
    min-width: 100px;   
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 20px;
}

.header-block__nav-link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    
}

.header-block__nav-item:hover {
    background-color: #EC7979;
    transition: 0.5s;
}

.header-block__drop-btn {
    display: none;
    max-width: 37px;
    background-color: black;
    border: none;
    padding: 10px 0;
}

.header-block__btn-line {
    background-color: #ffffff;
    width: 37px;
    height: 3px;
    border-radius: 2px;
    display: block;
    margin: 6px 0;
}