/*Mobile*/
@media (min-width: 320px) and (max-width: 1023px) {
    /*from defaults.css*/
    .container {
        min-width: 290px;
        max-width: 900px;
    }
    .sections-title {
        font-size: 24px;
        line-height: 28px;

    }

    .elements-title {
        font-size: 14px;
        line-height: 19px;
    }

    .description {
        font-size: 14px;
        line-height: 16px;

    }

    .paragraph {
        font-size: 13px;
        line-height: 15px;
    }
    /*tabs-block*/
    .tabs-block__text {
        max-width: 469px;
    }

}



@media (max-width: 700px) {
    /*header-block*/
    .header-block__inner {
        align-items: flex-start;
        align-items: center;

    }
    .header-block__nav {
        width: 100%;
        /* transform: translateY(200px); */
    }
    .header-block__nav-list {
       flex-direction: column;
       background-color: black;
       align-items: center;
       position: absolute;
       z-index: 2;
       width: 100%;
       left: 0;
       display: block;
       transform: translateY(34px);
    }
    .header-block__nav-item {
        width: 100%;
        text-align: center;
        
    }
    .header-block__drop-btn {
       display: block;
    }


}

@media (max-width: 500px) {
    /*tabs-block*/
    .tabs-block__text {
        padding: 25px 20px 15px 50px;
    }
}