/*Tablet*/
@media (min-width: 1024px) and (max-width: 1510px) {

    /*from default.css*/
    .container {
        max-width: 990px;
    }

    .sections-title {
        font-size: 24px;
        line-height: 28px;

    }

    .elements-title {
        font-size: 18px;
        line-height: 25px;
    }

    .description {
        font-size: 14px;
        line-height: 16px;

    }

    .paragraph {
        font-size: 14px;
        line-height: 16px;
    }
    /*banner-block*/
    .banner-block__inner-title {
        font-size: 36px;
        line-height: 42px;
    }
}

/*Mobile*/
@media (min-width: 320px) and (max-width: 1023) {
    /*from defaults.css*/
    .container {
        min-width: 290px;
        max-width: 900px;
    }
    .sections-title {
        font-size: 24px;
        line-height: 28px;

    }

    .elements-title {
        font-size: 14px;
        line-height: 19px;
    }

    .description {
        font-size: 14px;
        line-height: 16px;

    }

    .paragraph {
        font-size: 13px;
        line-height: 15px;
    }

}

@media (max-width: 900px) {
    /*header-block*/
    .header-block__nav-list {
        display: none;
        background-color: transparent;
        border: none;
        margin-left: 120px;
    }
    .header-block__drop-btn {
        display: block;
    }
    /*banner-block*/
    .banner-block__inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner-block__inner-logo {
        display: none;
    }
    .banner-block__inner-title::after {
        left: 35%;
        width: 30%;
    }
    .banner-block__inner-description {
        margin: 35px auto;
    }
    /*social-block*/
    .social-block__inner-content {
        flex-direction: column;
    }
    /*tabs-block*/
    .tabs-block__inner-content {
        text-align: center;
    }
    .tabs-block__picture {
        display: none;
    }
    /*awesome-block*/
    .awesome-block__list {
        flex-direction: column;
        align-items: center;
    }
    /*pricing-block*/
    .pricing-block__cards-list {
        flex-direction: column;
        align-items: center;
    }
    .pricing-block__cards-item:nth-child(2) {
    box-shadow: none;
    transform: none;
    align-self: center;
    transition: none;
}
    /*customers-block*/
    .customers-block__person-list {
        justify-content: center;
    }
    .customers-block__person:nth-child(2n + 1) {
        display: none;
    }
    /*contact-block*/
    .contact-block__form-inner {
        flex-direction: column;
        
    }
    .contact-block__personal-data {
        min-width: 100%;
    }
    .contact-block__form-textarea {
        min-width: 100%;
    }

    /*buttons*/
    button {
        width: 100%;
    }
}