.social-block {
    background-color: #F8EFEF;
}

.social-block__inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.social-block__text-info {
    max-width: 460px;
}

.social-block__title {
    text-transform: capitalize;
}

.social-block__logo-list {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

@media (max-width: 1024px) {
    .social-block__logo-list {
        gap: 10px;
    }
}

@media (max-width: 900px) {
    .social-block__inner-content {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .social-block__logo-img {
        width: 28px;
    }
}